<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRE Mini project</title>
</head>
<body>
<center>
        <h1> Kochava SRE Interview Mini Project </h1>
        <br>
        <h3> <a href="https://github.com/natarajanct/sre-interview" target="_blank">Git repo</a> </h3>
        <h3> Implemented using <a href="https://www.docker.com/" target="_blank">docker</a> </h3>
        	<br>
        	<br>
        <p> Initial set key on redis : {{ key }} </p>
        <p> Value retrieved from redis: {{ value }} </p>
</center>
</body>
</html>
